<%= simple_form_for(@lense) do |f| %>
  <% if @lense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lense.errors.count, "error") %> prohibited this lense from being saved:</h2>

      <ul>
      <% @lense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.association :brand %>
    <%= f.label :max_aperture %><br />
    <%= f.text_field :max_aperture %>
    <%= f.label :min_aperture %><br />
    <%= f.text_field :min_aperture %>
    <%= f.label :max_focal_length %><br />
    <%= f.number_field :max_focal_length %>
    <%= f.label :min_focal_length %><br />
    <%= f.number_field :min_focal_length %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
    <%= f.label :lense_type %><br />
    <%= f.association :lense_type,  :label_method => :lense_type, :value_method => :id, :include_blank => false %>
    <%= f.submit %>
  </div>
<% end %>
